.deco{
	text-align : right;
	width : 50%;
}

.title{
	text-align : right;
	width : 50%;
}
header{
	display : flex;
}

.recherche{
	text-align : center;
}

.produit{
	margin-left : 15%;
	margin-right : 15%;
	border : solid;
	border-color : blue;
}

.ajouterProduit{
	
}

h2{
	text-align : center;
}

p{
	margin-left : 20px;
}
